@import './__title/error__title.css';
@import './__subtitle/error__subtitle.css';
@import './__link/error__link.css';

.error {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
