.error__link {
  margin: 18px 0 0;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  background-color: #c45238;
  color: #B6D8D5;
  padding: 4px 7px;
  border-radius: 6px;
}

.error__link:focus {
  outline: none;
}
