@import './__content/popup__content.css';
@import './__close/popup__close.css';
@import './__switch/popup__switch.css';
@import './__image/popup__image.css';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}
