@import 'normalize.css';

body {
  margin: 0;
  color: #061B33;
  background-color: #B6D8D5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
